{% extends 'base.html' %} 
{% block 'title' %} Memico - Cinema Bootstrap HTML5 Template {% endblock %}

{% block 'content' %}
<section class="section-text-white position-relative">
  <div
    class="d-background"
    data-image-src="http://via.placeholder.com/1920x1080"
    data-parallax="scroll"
  ></div>
  <div class="d-background bg-theme-blacked"></div>
  <div class="mt-auto container position-relative">
    <div class="top-block-head text-uppercase">
      <h2 class="display-4">
        Now
        <span class="text-theme">in cinema</span>
      </h2>
    </div>
    <div class="top-block-footer">
      <div
        class="slick-spaced slick-carousel"
        data-slick-view="navigation responsive-4"
      >
        <div class="slick-slides">
        {% for i in cinemas %}
          <div class="slick-slide">
            <article class="poster-entity" data-role="hover-wrap">
              <div class="embed-responsive embed-responsive-poster">
                {% if i.cinemaimages_set.exists %}
                <img
                  class="embed-responsive-item"
                  src="{{ i.cinemaimages_set.first.image.url }}"
                  alt=""
                />
                {% else %}
                <img
                  class="embed-responsive-item"
                  src="http://via.placeholder.com/340x510"
                  alt=""
                />
                {% endif %}
              </div>
              <div
                class="d-background bg-theme-lighted collapse animated faster"
                data-show-class="fadeIn show"
                data-hide-class="fadeOut show"
              ></div>
              <div class="d-over bg-highlight-bottom">
                <div
                  class="collapse animated faster entity-play"
                  data-show-class="fadeIn show"
                  data-hide-class="fadeOut show"
                >
                  <a
                    class="action-icon-theme action-icon-bordered rounded-circle"
                    href="{{ i.cinema_youtube_link}}"
                    data-magnific-popup="iframe"
                  >
                    <span class="icon-content"
                      ><i class="fas fa-play"></i
                    ></span>
                  </a>
                </div>
                <h4 class="entity-title">
                  <a class="content-link" href="{% url 'app:singlePage' i.id %}"
                    >{{ i.title }}</a
                  >
                </h4>
                <div class="entity-category">
                  {% if i.cinemagenres_set.exists%}
                  {% for genre in i.cinemagenres_set.all %}
                  <a class="content-link" href="movies-blocks.html">{{genre}}</a>,
                  {% endfor %}
                  {% endif %}
                </div>
                <div class="entity-info">
                  <div class="info-lines">
                    <div class="info info-short">
                      <span class="text-theme info-icon"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="info-text">{{ i.average_rating }}</span>
                      <span class="info-rest">/10</span>
                    </div>
                    <div class="info info-short">
                      <span class="text-theme info-icon"
                        ><i class="fas fa-clock"></i
                      ></span>
                      <span class="info-text">{{ i.duration }}</span>
                      <span class="info-rest">&nbsp;min</span>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        {% endfor %}
        </div>
        <div class="slick-arrows">
          <div class="slick-arrow-prev">
            <span class="th-dots th-arrow-left th-dots-animated">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div class="slick-arrow-next">
            <span class="th-dots th-arrow-right th-dots-animated">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-long">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title text-uppercase">Now in play</h2>
      <p class="section-text">
        {% if start_date and end_date %}
          Dates: {{ start_date.day }} {{ start_date|date:"F Y" }} - {{ end_date.day }} {{ end_date|date:"F Y" }}
        {% endif %}
      </p>
    </div>
    {% for i in release_date %}
    <article class="movie-line-entity">
      <div class="entity-poster" data-role="hover-wrap">
        <div class="embed-responsive embed-responsive-poster">
          {% if i.cinemaimages_set.exists %}
          <img
            class="embed-responsive-item"
            src="{{ i.cinemaimages_set.first.image.url }}"
            alt=""
          />
          {% endif %}
        </div>
        <div
          class="d-over bg-theme-lighted collapse animated faster"
          data-show-class="fadeIn show"
          data-hide-class="fadeOut show"
        >
          <div class="entity-play">
            <a
              class="action-icon-theme action-icon-bordered rounded-circle"
              href="{{i.cinema_youtube_link}}"
              data-magnific-popup="iframe"
            >
              <span class="icon-content"><i class="fas fa-play"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class="entity-content">
        <h4 class="entity-title">
          <a class="content-link" href="{% url 'app:singlePage' i.id %}"
            >{{ i.title }}</a
          >
        </h4>
        <div class="entity-category">
          {% if i.cinemagenres_set.exists %}
            {% for i in i.cinemagenres_set.all %}
              <a class="content-link" href="movies-blocks.html">{{ i }}</a>,
            {% endfor %}
          {% endif %}
        </div>
        <div class="entity-info">
          <div class="info-lines">
            <div class="info info-short">
              <span class="text-theme info-icon"
                ><i class="fas fa-star"></i
              ></span>
              <span class="info-text">{{ i.average_rating }}</span>
              <span class="info-rest">/10</span>
            </div>
            <div class="info info-short">
              <span class="text-theme info-icon"
                ><i class="fas fa-clock"></i
              ></span>
              <span class="info-text">{{ i.duration }}</span>
              <span class="info-rest">&nbsp;min</span>
            </div>
          </div>
        </div>
        <p class="text-short entity-text">
          {{ i.description|truncatewords:40 }}
        </p>
      </div>
    </article>
    {% endfor %}
  </div>
</section>sdfsdf
<section class="section-solid-long section-text-white position-relative">
  <div
    class="d-background"
    data-image-src="http://via.placeholder.com/1920x1080"
    data-parallax="scroll"
  ></div>
  <div class="d-background bg-gradient-black"></div>
  <div class="container position-relative">
    <div class="section-head">
      <h2 class="section-title text-uppercase">Comming Soon</h2>
    </div>
    <div
      class="slick-spaced slick-carousel"
      data-slick-view="navigation single"
    >
      <div class="slick-slides">
        {% for i in soon %}
        <div class="slick-slide">
          <article class="movie-line-entity">
            <div class="entity-preview">
              <div class="embed-responsive embed-responsive-16by9">
                {% if i.cinemaimages_set.exists %}
                <img
                  class="embed-responsive-item"
                  src="{{ i.cinemaimages_set.first.image.url }}"
                  alt=""
                />
                {% endif %}
              </div>
              <div class="d-over">
                <div class="entity-play">
                  <a
                    class="action-icon-theme action-icon-bordered rounded-circle"
                    href="{{i.cinema_youtube_link}}"
                    data-magnific-popup="iframe"
                  >
                    <span class="icon-content"
                      ><i class="fas fa-play"></i
                    ></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="entity-content">
              <h4 class="entity-title">
                <a class="content-link" href="{% url 'app:singlePage' i.id %}"
                  >{{ i.title }}</a
                >
              </h4>
              <div class="entity-category">
                {% if i.cinemagenres_set.exists %}
                  {% for i in i.cinemagenres_set.all %}
                    <a class="content-link" href="movies-blocks.html">{{ i }}</a>,
                  {% endfor %}
                {% endif %}
              </div>
              <div class="entity-info">
                <div class="info-lines">
                  <div class="info info-short">
                    <span class="text-theme info-icon"
                      ><i class="fas fa-calendar-alt"></i
                    ></span>
                    <span class="info-text">{{ i.created_at }}</span>
                  </div>
                  <div class="info info-short">
                    <span class="text-theme info-icon"
                      ><i class="fas fa-clock"></i
                    ></span>
                    <span class="info-text">{{ i.duration }}</span>
                    <span class="info-rest">&nbsp;min</span>
                  </div>
                </div>
              </div>
              <p class="text-short entity-text">
                {{ i.description|truncatewords:40 }}
              </p>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
      <div class="slick-arrows">
        <div class="slick-arrow-prev">
          <span class="th-dots th-arrow-left th-dots-animated">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="slick-arrow-next">
          <span class="th-dots th-arrow-right th-dots-animated">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-long">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title text-uppercase">Latest news</h2>
    </div>
    <div class="grid row">
      {% for i in news %}
      <div class="col-md-6">
        <article class="article-tape-entity">
          <a
            class="entity-preview"
            href="article-sidebar-right.html"
            data-role="hover-wrap"
          >
            <span class="embed-responsive embed-responsive-16by9">
              <img
                class="embed-responsive-item"
                src="{{ i.image.url }}"
                alt=""
              />
            </span>
            <span class="entity-date">
              <span
                class="tape-block tape-horizontal tape-single bg-theme text-white"
              >
                <span class="tape-dots"></span>
                <span class="tape-content m-auto">{{ i.date|date:"d M Y" }}</span>
                <span class="tape-dots"></span>
              </span>
            </span>
            <span
              class="d-over bg-black-80 collapse animated faster"
              data-show-class="fadeIn show"
              data-hide-class="fadeOut show"
            >
              <span class="m-auto"><i class="fas fa-search"></i></span>
            </span>
          </a>
          <div class="entity-content">
            <h4 class="entity-title">
              <a class="content-link" href="{% url 'app:articlePage' i.id %}"
                >{{ i.title }}</a
              >
            </h4>
            <div class="entity-category">
              {% for i in i.newscategory_set.all %}
                  <a class="content-link" href="#"
                >{{ i }}</a>,
              {% endfor %}
            </div>
            <p class="text-short entity-text">
              {{ i.description|truncatewords:40 }}
            </p>
            <div class="entity-actions">
              <a class="text-uppercase" href="{% url 'app:articlePage' i.id %}"
                >Read More</a
              >
            </div>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="gmap-with-map">
    <div class="container">
      <div class="row" >
        <div style="width: 100%; height: auto;">
          <div class="gmap-form bg-white">
            <h4 class="form-title text-uppercase">
              Contact
              <span class="text-theme">us</span>
            </h4>
            <p class="form-text">
              We understand your requirement and provide quality works
            </p>
            <form autocomplete="off" action="{% url 'app:index' %}" method="post">
              {% csrf_token %}
              <div class="row form-grid">
                <div class="col-sm-6">
                  <div class="input-view-flat input-group">
                    <input
                      class="form-control"
                      name="name"
                      type="text"
                      placeholder="Name"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-view-flat input-group">
                    <input
                      class="form-control"
                      name="email"
                      type="email"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-view-flat input-group">
                    <textarea
                      class="form-control"
                      name="message"
                      placeholder="Message"
                    ></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <button class="px-5 btn btn-theme" type="submit">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
